.collapsible{
    border : none;
    margin : 4px 0 0 0;
    box-shadow: none;
}
#left{
    padding : 0;

}
#right{
    border-left: 1px solid rgb(221, 221, 221);
    padding-left: 25px !important;
}
/* .myContainer{
  border: 2px solid rgb(221, 221, 221);
  border-radius: 10px;
  padding: 0 25px 25px 25px;
} */
thead{
    background-color: #4a4a4a;
    color: #ffffff;
}
th{
    border-radius:0;
}
nav{
    z-index: 1;
    position: fixed;
    top: 0;
    /*left: 0;*/
}
.container{
    margin-top: 60px;
    padding-left: 10px;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0
}
